.body-background{
    background-color: #A1CCD1 !important;
}

.card-background{
    background-color: #F4F2DE !important;
}

.sidebar{
    background-color: #4682A9 !important;
}

.sidebar-devider{
    background-color: blue;
}

.logout :hover{
    color: red !important;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}